body {
	background: #000;
}

.container {
	background: url(../images/pagebg.png) repeat 0 0;
	margin: 0px auto;
	height: 640px;
	width: 560px;
	position: relative;
}

.main {
	margin: 1em auto;
	width: 456px;
}

.stage {
	width: 456px;
	height: 192px;
	padding: 1em 0;
	position: relative;
}

.loader {
	position: absolute;
	width: 456px;
	height: 192px;
}

#image {
	position: absolute;
}

#bitmap {
	display: none;
}

.loader.loading {
	background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

form {
	background: rgba(255,255,255,.8);
	padding-top: 1em;
}

fieldset {
	border: 0px none;
}

textarea {
	width: 430px;
	height: 150px;
}