body {
	background: #000;
}

.contain {
	background: url(../images/pagebg.png) repeat 0 0;
	border-radius: 8px;
	margin: 16px auto;
	min-height: 640px;
	width: 712px;
	padding-bottom: 16px;
	position: relative;
}

.main {
	margin: 1em auto;
	width: 608px;
}

.stage {
	width: 608px;
	height: 282px;
	padding-top:16px;
	position: relative;
}

.actions {
	position: absolute;
	bottom: 0;
	visibility: hidden;
	right: 0;
	margin: 34px 24px;
	opacity: 0;
	transition: all .14s ease-in-out;
}

.stage:hover .actions {
	visibility: visible;
	opacity: 1;
}

.loader {
	position: absolute;
	width: 608px;
	height: 192px;
}

#image {
	position: absolute;
}

#bitmap {
	display: none;
}

.loader.loading {
	background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

.solid {
	background: rgba(255,255,255,.9);
	border-radius: 8px;
}